<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">📦 InventoryMLApp</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    
    
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="simple-inventory">
            <span class="bi bi-box-seam-fill-nav-menu" aria-hidden="true"></span> Inventory
        </NavLink>
    </div>
    
</div>